html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-top-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.single-line-only {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  height: 75px;

}

.flex-row-non-wrap-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  color: white;
  margin-bottom: 15px;
  font-size: 30px;
  text-decoration: none;
}


.link .hover {
  color: royalblue;

  font-weight: 700;
  font-size: xx-large;
  text-decoration: none;
  cursor: pointer;
}

.button-success {
  height: 30px;
  width: 100px;
  transition-duration: 0.4s;
  background-color: green;
  color: white;
}

.button-success:hover {
  background-color: white;
  color: green;
}

.button-danger {
  height: 30px;
  width: 100px;
  transition-duration: 0.4s;
  background-color: red;
  color: white;
}

.button-danger:hover {
  background-color: white;
  color: red;
}

.button {
  height: 30px;
  width: 100px;
  transition-duration: 0.4s;
  background-color: gray;
  color: white;
}

.button:hover {
  background-color: white;
  color: gray;
}

.box {
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px 2px 2px #888888;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}